@font-face{
    font-family: "Caveat";
    src: url("./Caveat/Caveat.eot");
    src: url("./Caveat/Caveat.eot?#iefix")format("embedded-opentype"),
         url("./Caveat/Caveat.woff")format("woff"),
         url("./Caveat/Caveat.woff2")format("woff2"),
         url("./Caveat/Caveat.ttf")format("truetype"),
         url("./Caveat/Caveat.svg#Caveat")format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: "Miltonian";
    src: url("./Miltonian/Miltonian.eot");
    src: url("./Miltonian/Miltonian.eot?#iefix")format("embedded-opentype"),
         url("./Miltonian/Miltonian.woff")format("woff"),
         url("./Miltonian/Miltonian.woff2")format("woff2"),
         url("./Miltonian/Miltonian.ttf")format("truetype"),
         url("./Miltonian/Miltonian.svg#Miltonian")format("svg");
    font-weight:normal;
    font-style:normal;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-control {
    border-radius: 0 !important;
}

.form-select {
    border-radius: 0 !important;
}

.input-group > * {
    border-radius: 0 !important;
}

.list-group {
    border-radius: 0 !important;
}

/* SEARCH HIGHLIGHT */

.mark, mark {
    padding: 0 !important;
}

.highlightable {
    display: inline;
    text-align: start;
}

/* MARKDOWN */

/* set margin in Markdown HTML */
.markdown-block-margin > p,
.markdown-block-margin > ol,
.markdown-block-margin > ul,
.markdown-block-margin > pre {
    margin-bottom: calc(1em * var(--bs-body-line-height));
}

.markdown-block-margin > p + ol,
.markdown-block-margin > p + ul {
    margin-top: calc(-1em * var(--bs-body-line-height));
}

.markdown-block-margin > p:last-child,
.markdown-block-margin > ol:last-child,
.markdown-block-margin > ul:last-child,
.markdown-block-margin > pre:last-child {
    margin-bottom: 0;
}

/* MAIN ROW AND COLUMNS SCROLLBARS */

/* Mobile: show scrollbar in parent row */
.parent-row {
    overflow: auto !important;
    max-height: 100% !important;
    display: block !important;
}

/* Mobile: hide scrollbar in every child column */
.child-column {
    overflow: visible !important;
    max-height: none !important;
}

@media (min-width: 768px) {

    /* Desktop: hide scrollbar in parent row */
    .parent-row {
        overflow: hidden !important;
        max-height: none !important;
        display: flex !important;
    }

    /* Desktop: show scrollbar in every child column */
    .child-column {
        overflow: auto !important;
        max-height: 100% !important;
    }
}

/* SPINNER */

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #333333;
    animation: spin-pulse 2s linear infinite;
}

@keyframes spin-pulse {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.spinner-text {
    font-family: 'Miltonian', cursive;
    font-size: 110px;
    font-weight: 400;
    color: #EEEEEE;
}

/* BLAZOR ERROR */

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
