**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/bin
**/docker-compose*
**/Dockerfile*
**/obj
**/OpenHabitTracker.Blazor.Maui
**/OpenHabitTracker.Blazor.Photino
**/OpenHabitTracker.Blazor.Wasm
**/OpenHabitTracker.Blazor.WinForms
**/OpenHabitTracker.Blazor.Wpf
**/OpenHabitTracker.IndexedDB
**/OpenHabitTracker.Web
**/Photino.Blazor
.editorconfig
DeveloperNotes.md
flathub.json
flatpak-dotnet-generator.py
LICENSE
net.openhabittracker.OpenHabitTracker.desktop
net.openhabittracker.OpenHabitTracker.metainfo.xml
net.openhabittracker.OpenHabitTracker.svg
net.openhabittracker.OpenHabitTracker.yaml
nuget.config
nuget-sources.json
README.md
snapcraft.yaml
TODO.md
