# Set this file as the root .editorconfig
root = true

# Apply to all files
[*]
# Ensure UTF-8 encoding without BOM (recommended for cross-platform compatibility)
charset = utf-8

# Use LF as the line ending (Unix-style line endings)
end_of_line = lf

# Ensure files end with a newline
insert_final_newline = true

# Use spaces for indentation
indent_style = space

# Set indentation size
indent_size = 4

# Trim trailing whitespace
trim_trailing_whitespace = true

# Specific rules for text files
[*.{csproj,yml,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# Specific rules for C# files
[*.cs]
csharp_style_namespace_declarations = file_scoped
