# Set this file as the root .editorconfig (do not inherit from .editorconfig in parent folder)
root = true

# Apply to all files
[*]

# Ensure UTF-8 encoding without BOM (recommended for cross-platform compatibility)
charset = utf-8

# Use LF as the line ending (Unix-style line endings)
end_of_line = lf

insert_final_newline = true

indent_style = space

indent_size = 4

trim_trailing_whitespace = true

[*.{csproj,yaml,json}]
indent_size = 2

# Two trailing spaces = line break in Markdown
[*.md]
trim_trailing_whitespace = false

[*.cs]
csharp_style_namespace_declarations = file_scoped
