.vs
.idea
bin
obj
publish
Releases
AppPackages
.flatpak-builder
build-dir
repo
*.user
credentials.json
GoogleDriveClientSecrets.Hidden.cs
*.keystore
*.pfx
Package.StoreAssociation.xml
OpenHT.db*
watchlogs*.db
*.snap
fastlane/*.json
fastlane/app_previews
*.p8