[Desktop Entry]
Name=OpenHabitTracker
Comment=Take notes, plan tasks, track habits
Exec=OpenHT
Icon=com.github.jinjinov.OpenHabitTracker
Type=Application
Categories=Productivity;