@page "/login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@using OpenHabitTracker.Blazor.Web.Data

@layout LoginLayout

@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager

<h3>Login</h3>

<EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary class="alert alert-danger" />

    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <InputText id="password" class="form-control" @bind-Value="loginModel.Password" type="password" />
    </div>

    <button type="submit" class="btn btn-primary w-100">Log in</button>
</EditForm>


@code {
    private LoginModel loginModel = new();

    private async Task HandleValidSubmit()
    {
        var result = await SignInManager.PasswordSignInAsync(loginModel.Username, loginModel.Password, true, lockoutOnFailure: false);
        if (result.Succeeded)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Handle login failure
        }
    }

    public class LoginModel
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
    }
}
