@inherits LayoutComponentBase

<div>
    <main>
        <div>
            <NavLink class="nav-link" href="habits">Habits</NavLink>
            <NavLink class="nav-link" href="notes">Notes</NavLink>
            <NavLink class="nav-link" href="tasks">Tasks</NavLink>
            <NavLink class="nav-link" href="trash">Trash</NavLink>

            <LoginDisplay />
        </div>

        <article>
            @Body
        </article>
    </main>
</div>
