<div class="form-check">
    <input @ref="_elementReference" class="form-check-input" id="@_elementId" type="checkbox" checked="@_internalChecked" @onchange="OnChange" />
    <label class="form-check-label" for="@_elementId">@ChildContent</label>
</div>
