@using OpenHabitTracker.Data
@using OpenHabitTracker.Data.Models
@using OpenHabitTracker.Services

@inject IPriorityService PriorityService
@inject IStringLocalizer Loc

@if (Model is not null)
{
    <InputSelect class="@($"form-select flex-grow-0 w-auto {Model.Color}")" aria-label="@Loc["Priority"]" Value="Model.Priority" ValueExpression="() => Model.Priority" TValue="Priority" ValueChanged="SavePriority">
        @foreach (Priority priority in Enum.GetValues<Priority>().OrderDescending())
        {
            <option value="@priority">@PriorityService.GetPriorityTitle(priority)</option>
        }
    </InputSelect>
}

@code {
    [EditorRequired]
    [Parameter]
    public ContentModel? Model { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }

    async Task SavePriority(Priority priority)
    {
        if (Model is null)
            return;

        Model.Priority = priority;

        await OnChange.InvokeAsync();
    }
}
