@page "/data"

@using OpenHabitTracker.Data
@using OpenHabitTracker.Services

@inject AppData AppData
@inject IStringLocalizer Loc

@* <PageTitle>OpenHabitTracker - Data</PageTitle> *@

<div>
    <div class="my-1">

        <div class="list-group">
            <button class="list-group-item list-group-item-action" @onclick="LoadExamples">@Loc["Load examples"]</button>
            <button class="list-group-item list-group-item-action" @onclick="DeleteAllData">@Loc["Delete all data"]</button>
        </div>

    </div>
</div>

<Backup StateChanged=StateChanged StateChangedChanged=StateChangedChanged />

@code {
    [Parameter]
    public bool StateChanged { get; set; }

    [Parameter]
    public EventCallback<bool> StateChangedChanged { get; set; }

    async Task OnStateChanged()
    {
        StateChanged = !StateChanged;
        await StateChangedChanged.InvokeAsync(StateChanged);
    }

    async Task LoadExamples()
    {
        await AppData.LoadExamples();

        await OnStateChanged();
    }

    async Task DeleteAllData()
    {
        await AppData.DeleteAllData();

        await OnStateChanged();
    }
}
