@page "/trash"

@using GTour.Abstractions
@using OpenHabitTracker.App
@using OpenHabitTracker.Data.Models
@using OpenHabitTracker.Services

@inject ClientState ClientState
@inject TrashService TrashService
@inject IStringLocalizer Loc
@inject IGTourService GTourService

@* <PageTitle>OpenHabitTracker - Trash</PageTitle> *@

<div>

    <div class="my-1">

        <div class="list-group">
            <button class="list-group-item list-group-item-action" @onclick="RestoreAll" data-trash-step-1><i class="bi bi-recycle"></i> @Loc["Restore all"]</button>
            <button class="list-group-item list-group-item-action" @onclick="EmptyTrash" data-trash-step-2><i class="bi bi-trash"></i> @Loc["Empty trash"]</button>
        </div>

    </div>

    @if (TrashService.Models is null)
    {
        @* <p>Failed to load. Try refreshing.</p> *@
    }
    else
    {
        foreach (ContentModel model in TrashService.Models)
        {
            <div class="input-group flex-nowrap">
                <span class="input-group-text flex-grow-1 text-wrap">@model.Title</span>
                <button class="btn btn-outline-primary" @onclick="() => Restore(model)"><i class="bi bi-recycle"></i></button>
                <button class="btn btn-outline-primary" @onclick="() => Delete(model)"><i class="bi bi-trash"></i></button>
            </div>
        }
    }

</div>

@if (ClientState.Settings.ShowHelp)
{
    <GuidedTourComponent TourId="trash" TourSteps="tourSteps" />
}

@code {
    TourStep[] tourSteps =
    {
        new() { Text = "Restore all" },
        new() { Text = "Empty trash" },
    };

    private async Task StartTour(string tourId)
    {
        await GTourService.StartTour(tourId);
    }

    [Parameter]
    public bool StateChanged { get; set; }

    [Parameter]
    public EventCallback<bool> StateChangedChanged { get; set; }

    public void Refresh()
    {
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await TrashService.Initialize();
    }

    async Task OnStateChanged()
    {
        StateChanged = !StateChanged;
        await StateChangedChanged.InvokeAsync(StateChanged);
    }

    async Task RestoreAll()
    {
        await TrashService.RestoreAll();

        await OnStateChanged();
    }

    async Task EmptyTrash()
    {
        await TrashService.EmptyTrash();

        await OnStateChanged();
    }

    async Task Restore(ContentModel model)
    {
        await TrashService.Restore(model);

        await OnStateChanged();
    }

    async Task Delete(ContentModel model)
    {
        await TrashService.Delete(model);

        await OnStateChanged();
    }
}
