@page "/"
@namespace Ididit.Blazor.Chromely.Pages
@using Ididit.Blazor
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ididit!</title>
    <base href="~/" />

    <link id="theme-link" rel="stylesheet" href="_content/Ididit.Blazor/bootstrap/default/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Ididit.Blazor/bootstrap-icons/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="_content/Ididit.Blazor/app.css" />

    <script src="_content/Ididit.Blazor/skipScrollTo.js"></script>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(Routes)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
