@page "/about"

@inject IStringLocalizer<Loc> Loc

<PageTitle>About</PageTitle>

<div class="col child-column px-0 px-md-1">
    <div class="my-1">

        <span class="" style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span>

        <a href="https://ididit.today/"><i class="bi bi-globe"></i> Web</a>
        <a href="https://github.com/Jinjinov/Ididit.Today"><i class="bi bi-github"></i> GitHub</a>
        © Jinjinov 2024

        <div style="white-space: pre-wrap;">
ididit! is free, open source and works on Web, Windows, Linux, Android, iOS and macOS!

Take Markdown notes, manage tasks, track habits.

Elapsed time to repeat interval is the main feature:

- elapsed time is not a good indicator for urgency

- elapsed time to repeat interval ratio is a much better indicator for urgency

- together with setting the priority, you have a very good overview on what to do next

- powerful advanced search, filter and sort

Import from Google Keep
Backup to and restore from Google Drive in JSON format

Human readable Markdown and YAML formats
The popular JSON format
Excel and Google Sheets compatible TSV (Tab Separated Values)

Localized in 5 languages

Available in 26 color themes

8 background colors for Note, Task, Habit

Version history for Note, Task, Habit

Backup:
- Google Drive
- OneDrive
- iCloud
- Dropbox
        </div>

    </div>
</div>

@code {

}
