@page "/about"

<PageTitle>About</PageTitle>

<div>
    <div class="my-1">

        <span class="" style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span>

        <a href="https://ididit.today/"><i class="bi bi-globe"></i> Web</a>
        <a href="https://github.com/Jinjinov/Ididit.Today"><i class="bi bi-github"></i> GitHub</a>
        © Jinjinov 2024

    </div>
</div>

@code {

}
