@page "/about"

@inject IStringLocalizer<Loc> Loc

<PageTitle>About</PageTitle>

<div class="col child-column px-0 px-md-1">
    <div class="my-1">

        <span class="" style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</span>

        <a href="https://ididit.today/"><i class="bi bi-globe"></i> Web</a>
        <a href="https://github.com/Jinjinov/Ididit.Today"><i class="bi bi-github"></i> GitHub</a>
        © Jinjinov 2024

        <div style="white-space: pre-wrap;">
ididit! is free, open source and works on Web, Windows, Linux, Android, iOS and macOS!

Take Markdown notes, plan tasks, track habits.

Elapsed time to repeat interval ratio:
- elapsed time is not a good indicator for urgency
- elapsed time to repeat interval ratio is a much better indicator for urgency
- together with setting the priority, you have a very good overview on what to do next

Advanced search, filter and sort

Localized in 4 languages:
- German
- English
- Spanish
- Slovenian

Available in 26 themes

Import / Export:
- Markdown
- YAML
- JSON
- TSV (Tab Separated Values)

Import from Google Keep

Coming soon:

Backup:
- Google Drive
- OneDrive
- iCloud
- Dropbox

Version history
        </div>

    </div>
</div>

@code {

}
