@page "/backup"

@using Ididit.Backup
@using Ididit.Blazor.Files

@inject BackupService BackupService
@inject IOpenFile OpenFile
@inject ISaveFile SaveFile

<PageTitle>Backup</PageTitle>

<button @onclick="() => ExportFile(DataFormat.Json)">Export JSON</button>
<button @onclick="() => ExportFile(DataFormat.Tsv)">Export TSV</button>
<button @onclick="() => ExportFile(DataFormat.Yaml)">Export YAML</button>

@OpenFile.OpenFileDialog(OnFileOpened)

@_filename

<pre>@_fileContent</pre>

@code {
    string _filename = string.Empty;

    string _fileContent = string.Empty;

    private async Task ExportFile(DataFormat dataFormat)
    {
        _fileContent = await BackupService.GetDataExportFileString(dataFormat);

        string extension = dataFormat.ToString().ToLower();

        await SaveFile.SaveFileDialog($"ididit.{extension}", _fileContent);
    }

    private async Task OnFileOpened(string filename, Stream stream)
    {
        _filename = filename;

        using var reader = new StreamReader(stream);

        _fileContent = await reader.ReadToEndAsync();

        StateHasChanged();

        await BackupService.ImportDataFile(filename, stream);
    }
}