@page "/backup"

@using Ididit.Backup
@using Ididit.Blazor.Files

@inject BackupService BackupService
@inject IOpenFile OpenFile
@inject ISaveFile SaveFile

<PageTitle>Backup</PageTitle>

<div>

    <div class="my-1">

        <div class="list-group">
            <button class="list-group-item list-group-item-action" @onclick="() => ExportFile(DataFormat.Json)">Export JSON</button>
            <button class="list-group-item list-group-item-action" @onclick="() => ExportFile(DataFormat.Tsv)">Export TSV</button>
            <button class="list-group-item list-group-item-action" @onclick="() => ExportFile(DataFormat.Yaml)">Export YAML</button>

            @OpenFile.OpenFileDialog("list-group-item list-group-item-action", OnFileOpened)
        </div>

    </div>

    @_filename

    <pre>@_fileContent</pre>

</div>

@code {
    [Parameter]
    public bool StateChanged { get; set; }

    [Parameter]
    public EventCallback<bool> StateChangedChanged { get; set; }

    string _filename = string.Empty;

    string _fileContent = string.Empty;

    async Task OnStateChanged()
    {
        StateChanged = !StateChanged;
        await StateChangedChanged.InvokeAsync(StateChanged);
    }

    private async Task ExportFile(DataFormat dataFormat)
    {
        _fileContent = await BackupService.GetDataExportFileString(dataFormat);

        string extension = dataFormat.ToString().ToLower();

        await SaveFile.SaveFileDialog($"ididit.{DateTime.Now:yyyyMMddTHHmmss}.{extension}", _fileContent);
    }

    private async Task OnFileOpened(string filename, Stream stream)
    {
#if DEBUG
        _filename = filename;

        using MemoryStream memoryStream = new();

        await stream.CopyToAsync(memoryStream);
        memoryStream.Position = 0;

        using StreamReader streamReader = new(memoryStream);

        _fileContent = await streamReader.ReadToEndAsync();

        memoryStream.Position = 0;
        streamReader.DiscardBufferedData();

        StateHasChanged();

        stream = memoryStream;
#endif

        await BackupService.ImportDataFile(filename, stream);

        await OnStateChanged();
    }
}