@page "/backup"

@using Ididit.Backup
@using Ididit.Blazor.File

@inject BackupService BackupService
@inject IOpenFile OpenFile
@inject ISaveFile SaveFile

<PageTitle>Backup</PageTitle>

<button @onclick="() => ExportFile(DataFormat.Json)">Export JSON</button>
<button @onclick="() => ExportFile(DataFormat.Tsv)">Export TSV</button>
<button @onclick="() => ExportFile(DataFormat.Yaml)">Export YAML</button>

@OpenFile.OpenFileDialog(OnFileOpened)

<pre>@_fileContent</pre>

@code {
    string _fileContent = string.Empty;

    private async Task ExportFile(DataFormat dataFormat)
    {
        _fileContent = await BackupService.GetDataExportFileString(dataFormat);

        await SaveFile.SaveFileDialog($"ididit.{dataFormat}", _fileContent);
    }

    private async void OnFileOpened(Stream stream)
    {
        using var reader = new StreamReader(stream);
        _fileContent = await reader.ReadToEndAsync();
        StateHasChanged();
    }
}