@page "/data"

@using Ididit.Data
@using Ididit.Services

@inject AppData AppData
@inject TrashService TrashService

<PageTitle>Data</PageTitle>

<div class="col mh-100 overflow-auto px-1">

    <div class="my-1">
        <button class="btn btn-primary" @onclick="AppData.LoadExamples">Load examples</button>
        <button class="btn btn-primary" @onclick="TrashService.DeleteAll">Delete all</button>
    </div>

</div>

@code {

}
