@page "/data"

@using Ididit.Data
@using Ididit.Services

@inject AppData AppData
@inject TrashService TrashService

<PageTitle>Data</PageTitle>

<div class="col mh-100 overflow-auto">

    <button class="btn btn-primary" @onclick="AppData.LoadExamples">Load examples</button>
    <button class="btn btn-primary" @onclick="TrashService.DeleteAll">Delete all</button>

</div>

@code {

}
