@page "/data"

@using Ididit.Data
@using Ididit.Services

@inject AppData AppData

<PageTitle>Data</PageTitle>

<div class="col mh-100 overflow-auto px-0 px-md-1">

    <div class="my-1">
        <button class="btn btn-primary" @onclick="AppData.LoadExamples">Load examples</button>
        <button class="btn btn-primary" @onclick="AppData.DeleteAllData">Delete all data</button>
    </div>

</div>

@code {

}
