@page "/habits"
@using Ididit.Data.Models
@using Ididit.Services
@inject HabitService HabitService

<PageTitle>Habits</PageTitle>

<h1>Habits</h1>

@if (HabitService.Habits is null || HabitService.EditHabit is null)
{
    <p>Loading...</p>
}
else
{
    <p>Habits: @HabitService.Habits.Count</p>

    foreach (HabitModel habit in HabitService.Habits)
    {
        <p>@habit.Title</p>
    }

    <div>
        <label for="titleInput">Title:</label>
        <input id="titleInput" type="text" @bind="HabitService.EditHabit.Title" />

        <button @onclick="HabitService.AddHabit">Add Habit</button>
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await HabitService.Initialize();
    }
}
