@page "/habits/add"

@using Ididit.Data
@using Ididit.Data.Models
@using Ididit.Services

@inject HabitService HabitService

<PageTitle>HabitsAdd</PageTitle>

@if (HabitService.NewHabit is not null)
{
    <div>
        <label for="titleInput">Title:</label>
        <InputText id="titleInput" @bind-Value="HabitService.NewHabit.Title" />

        <button @onclick="HabitService.AddHabit">Add Habit</button>
    </div>

    <CategoryComponent Model="HabitService.NewHabit" />

    <PriorityComponent Model="HabitService.NewHabit" />

    <div>
        <label for="countInput">RepeatCount:</label>
        <InputNumber id="countInput" @bind-Value="HabitService.NewHabit.RepeatCount" />

        <label for="intervalInput">RepeatInterval:</label>
        <InputNumber id="intervalInput" @bind-Value="HabitService.NewHabit.RepeatInterval" />
    </div>

    <InputSelect @bind-Value="HabitService.NewHabit.RepeatPeriod">
        @foreach (Period period in Enum.GetValues<Period>())
        {
            <option value="@period">@period</option>
        }
    </InputSelect>
}
