@page "/habits/add"

@using Ididit.Data
@using Ididit.Data.Models
@using Ididit.Services

@inject HabitService HabitService

<PageTitle>HabitsAdd</PageTitle>

@if (HabitService.NewHabit is not null)
{
    <div class="bg-body-tertiary my-1 p-1">
        <div>
            <InputText @bind-Value="HabitService.NewHabit.Title" placeholder="Title" />

            <button @onclick="AddHabit"><i class="bi bi-plus-square"></i></button>
        </div>

        <CategoryComponent Model="HabitService.NewHabit" />

        <PriorityComponent Model="HabitService.NewHabit" />

        <div>
            <label for="countInput">Repeat</label>
            <InputNumber id="countInput" @bind-Value="HabitService.NewHabit.RepeatCount" />

            <label for="intervalInput">times every</label>
            <InputNumber id="intervalInput" @bind-Value="HabitService.NewHabit.RepeatInterval" />

            <InputSelect @bind-Value="HabitService.NewHabit.RepeatPeriod">
                @foreach (Period period in Enum.GetValues<Period>())
                {
                    <option value="@period">@period</option>
                }
            </InputSelect>
        </div>
    </div>
}

@code {
    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    private async Task AddHabit()
    {
        await HabitService.AddHabit();

        NavigationManager?.NavigateTo("/habits");
    }
}
