@page "/habits/add"

@using Ididit.Data.Models
@using Ididit.Services

@inject HabitService HabitService

<h3>HabitsAdd</h3>

@if (HabitService.NewHabit is not null)
{
    <div>
        <label for="titleInput">Title:</label>
        <InputText id="titleInput" @bind-Value="HabitService.NewHabit.Title" />

        <button @onclick="HabitService.AddHabit">Add Habit</button>
    </div>

    <CategoryComponent Model="HabitService.NewHabit" />
}
