@page "/habits"
@using Ididit.Data.Models
@using Ididit.Services
@inject HabitService HabitService

<PageTitle>Habits</PageTitle>

<h1>Habits</h1>

<h3>Habits</h3>

@if (HabitService.Habits is null)
{
    <p>Loading...</p>
}
else
{
    <p>Habits: @HabitService.Habits.Count</p>

    foreach (HabitModel habit in HabitService.Habits)
    {
        <p>@habit.Title</p>
    }
}

<div>
    <label for="nameInput">Enter name:</label>
    <input id="nameInput" type="text" @bind="name" />

    <button @onclick="AddHabit">Add Habit</button>
</div>

@code {

    private string name = "";

    private async Task AddHabit()
    {
        HabitService.EditHabit = new HabitModel { Title = name };

        await HabitService.SaveHabit();
    }

    protected override async Task OnInitializedAsync()
    {
        if (HabitService.Habits is null)
        {
            await HabitService.Initialize();
        }
    }
}
