@page "/menu"

<PageTitle>Menu</PageTitle>

<div class="col mh-100 overflow-auto">
    <div><NavLink class="nav-link m-2" href="habits">Habits</NavLink></div>
    <div><NavLink class="nav-link m-2" href="notes">Notes</NavLink></div>
    <div><NavLink class="nav-link m-2" href="tasks">Tasks</NavLink></div>
    <div><NavLink class="nav-link m-2" href="trash">Trash</NavLink></div>
    <div><NavLink class="nav-link m-2" href="categories">Categories</NavLink></div>
    <div><NavLink class="nav-link m-2" href="priorities">Priorities</NavLink></div>
    <div><NavLink class="nav-link m-2" href="settings">Settings</NavLink></div>
    <div><NavLink class="nav-link m-2" href="data">Data</NavLink></div>
    <div><NavLink class="nav-link m-2" href="backup">Backup</NavLink></div>
    <div><NavLink class="nav-link m-2" href="help">Help</NavLink></div>
    <div><NavLink class="nav-link m-2" href="about">About</NavLink></div>
    <div><NavLink class="nav-link m-2" href="search">Search</NavLink></div>
</div>

@code {

}
