@page "/menu"

<h3>Menu</h3>

<div>
    <NavLink class="nav-link" href="habits">Habits</NavLink>
    <NavLink class="nav-link" href="notes">Notes</NavLink>
    <NavLink class="nav-link" href="tasks">Tasks</NavLink>
    <NavLink class="nav-link" href="trash">Trash</NavLink>
    <NavLink class="nav-link" href="categories">Categories</NavLink>
    <NavLink class="nav-link" href="priorities">Priorities</NavLink>
    <NavLink class="nav-link" href="settings">Settings</NavLink>
    <NavLink class="nav-link" href="backup">Backup</NavLink>
</div>

@code {

}
