@page "/menu"

<PageTitle>Menu</PageTitle>

<div>

    <div class="my-1">

        <div class="list-group">
            <NavLink class="list-group-item list-group-item-action" href="habits">Habits</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="notes">Notes</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="tasks">Tasks</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="about">About</NavLink>

            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Trash>">Trash</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Categories>">Categories</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Priorities>">Priorities</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Settings>">Settings</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Data>">Data</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Backup>">Backup</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Help>">Help</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Search>">Search</button>
        </div>

    </div>

</div>

@code {
    [Parameter]
    public Type? DynamicComponentType { get; set; }

    [Parameter]
    public EventCallback<Type?> DynamicComponentTypeChanged { get; set; }

    async Task SelectComponent<T>()
    {
        DynamicComponentType = typeof(T);

        await DynamicComponentTypeChanged.InvokeAsync(DynamicComponentType);
    }
}
