@page "/menu"

<PageTitle>Menu</PageTitle>

<div>
    <div><NavLink class="nav-link" href="habits">Habits</NavLink></div>
    <div><NavLink class="nav-link" href="notes">Notes</NavLink></div>
    <div><NavLink class="nav-link" href="tasks">Tasks</NavLink></div>
    <div><NavLink class="nav-link" href="trash">Trash</NavLink></div>
    <div><NavLink class="nav-link" href="categories">Categories</NavLink></div>
    <div><NavLink class="nav-link" href="priorities">Priorities</NavLink></div>
    <div><NavLink class="nav-link" href="settings">Settings</NavLink></div>
    <div><NavLink class="nav-link" href="backup">Backup</NavLink></div>
    <div><NavLink class="nav-link" href="help">Help</NavLink></div>
    <div><NavLink class="nav-link" href="about">About</NavLink></div>
    <div><NavLink class="nav-link" href="search">Search</NavLink></div>
</div>

@code {

}
