@page "/menu"

<PageTitle>Menu</PageTitle>

<div class="col mh-100 overflow-auto px-0 px-md-1" style="max-width: 400px">

    <div class="my-1">

        <div class="list-group">

            @*
            <button class="list-group-item list-group-item-action" @onclick="TrashService.RestoreAll">Restore all</button>
            <button class="list-group-item list-group-item-action" @onclick="TrashService.EmptyTrash">Empty trash</button>
            *@

            <NavLink class="list-group-item list-group-item-action" href="habits">Habits</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="notes">Notes</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="tasks">Tasks</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="trash">Trash</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="categories">Categories</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="priorities">Priorities</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="settings">Settings</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="data">Data</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="backup">Backup</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="help">Help</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="about">About</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="search">Search</NavLink>

        </div>

    </div>

</div>

@code {
    [Parameter]
    public Type? DynamicComponentType { get; set; }

    [Parameter]
    public EventCallback<Type?> SettingsChangedChanged { get; set; }
}
