@page "/notes/{Id:long}/update"

@using Ididit.Data.Models
@using Ididit.Services

@inject NoteService NoteService

<PageTitle>NotesUpdate</PageTitle>

@if (NoteService.EditNote is not null)
{
    <div>
        <label for="titleInput">Title:</label>
        <InputText id="titleInput" @bind-Value="NoteService.EditNote.Title" />

        <button @onclick="NoteService.UpdateNote"><i class="bi bi-floppy"></i></button>
    </div>

    <CategoryComponent Model="NoteService.EditNote" />

    <PriorityComponent Model="NoteService.EditNote" />

    <div>
        <label for="contentInput">Content:</label>
        <InputTextArea id="contentInput" @bind-Value="NoteService.EditNote.Content" />
    </div>
}

@code {
    [Parameter]
    public long? Id { get; set; }

    protected override void OnParametersSet()
    {
        NoteService.EditNote = NoteService.Notes?.FirstOrDefault(n => n.Id == Id);
    }
}