@page "/notes"
@using Ididit.Data.Models
@using Ididit.Services
@inject NoteService NoteService

<PageTitle>Notes</PageTitle>

<h1>Notes</h1>

@if (NoteService.Notes is null || NoteService.EditNote is null)
{
    <p>Loading...</p>
}
else
{
    <p>Notes: @NoteService.Notes.Count</p>

    foreach (NoteModel note in NoteService.Notes)
    {
        <p>@note.Title</p>
    }

    <div>
        <label for="titleInput">Title:</label>
        <input id="titleInput" type="text" @bind="NoteService.EditNote.Title" />

        <button @onclick="NoteService.AddNote">Add Note</button>
    </div>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await NoteService.Initialize();
    }
}
