@page "/notes/add"

@using Ididit.Data.Models
@using Ididit.Services

@inject NoteService NoteService

<PageTitle>NotesAdd</PageTitle>

@if (NoteService.NewNote is not null)
{
    <div class="bg-body-tertiary my-1 p-1">
        <div>
            <InputText @bind-Value="NoteService.NewNote.Title" placeholder="Title" />

            <button @onclick="AddNote"><i class="bi bi-plus-square"></i></button>
        </div>

        <CategoryComponent Model="NoteService.NewNote" />

        <PriorityComponent Model="NoteService.NewNote" />

        <div>
            <InputTextArea @bind-Value="NoteService.NewNote.Content" placeholder="Note" />
        </div>
    </div>
}

@code {
    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    private async Task AddNote()
    {
        await NoteService.AddNote();

        NavigationManager?.NavigateTo("/notes");
    }
}