@page "/notes/add"
@page "/notes/{Id:long}/update"

@using Ididit.Data.Models
@using Ididit.Services

@inject NoteService NoteService

<PageTitle>Notes</PageTitle>

<div class="col mh-100 overflow-auto">

    @if (NoteService.EditNote is not null)
    {
        <div class="bg-body-tertiary my-1 p-1">
            <div class="input-group">
                <InputTextImmediate class="form-control" @bind-Value="NoteService.EditNote.Title" placeholder="Title" />

                <button class="btn btn-primary" @onclick="SaveNote" disabled="@string.IsNullOrWhiteSpace(NoteService.EditNote.Title)"><i class="bi bi-floppy"></i></button>
            </div>

            <CategoryComponent Model="NoteService.EditNote" />

            <PriorityComponent Model="NoteService.EditNote" />

            <div>
                <InputTextArea class="form-control" @bind-Value="NoteService.EditNote.Content" placeholder="Note" />
            </div>
        </div>
    }

</div>

@code {
    [Parameter]
    public long? Id { get; set; }

    protected override void OnParametersSet()
    {
        if (Id is null)
            NoteService.EditNote = new();
        else
            NoteService.EditNote = NoteService.Notes?.FirstOrDefault(n => n.Id == Id);
    }

    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    private async Task SaveNote()
    {
        if (Id is null)
            await NoteService.AddNote();
        else
            await NoteService.UpdateNote();

        NavigationManager?.NavigateTo("/notes");
    }
}