@page "/notes/add"

@using Ididit.Data.Models
@using Ididit.Services

@inject NoteService NoteService

<PageTitle>NotesAdd</PageTitle>

@if (NoteService.NewNote is not null)
{
    <div class="bg-body-tertiary my-1 p-1">
        <div>
            <InputText @bind-Value="NoteService.NewNote.Title" />

            <button @onclick="NoteService.AddNote"><i class="bi bi-plus-square"></i></button>
        </div>

        <CategoryComponent Model="NoteService.NewNote" />

        <PriorityComponent Model="NoteService.NewNote" />

        <InputTextArea @bind-Value="NoteService.NewNote.Content" />
    </div>
}
