@page "/tasks/add"

@using Ididit.Data.Models
@using Ididit.Services

@inject TaskService TaskService

<h3>TasksAdd</h3>

@if (TaskService.NewTask is not null)
{
    <div>
        <label for="titleInput">Title:</label>
        <input id="titleInput" type="text" @bind="TaskService.NewTask.Title" />

        <button @onclick="TaskService.AddTask">Add Task</button>
    </div>
}
