@page "/tasks/add"

@using Ididit.Data.Models
@using Ididit.Services

@inject TaskService TaskService

<PageTitle>TasksAdd</PageTitle>

@if (TaskService.NewTask is not null)
{
    <div class="bg-body-tertiary my-1 p-1">
        <div>
            <InputText @bind-Value="TaskService.NewTask.Title" placeholder="Title" />

            <button @onclick="TaskService.AddTask"><i class="bi bi-plus-square"></i></button>
        </div>

        <CategoryComponent Model="TaskService.NewTask" />

        <PriorityComponent Model="TaskService.NewTask" />

        <div>
            <InputDate Type="InputDateType.DateTimeLocal" id="dateInput" @bind-Value="TaskService.NewTask.Date" />
        </div>
    </div>
}
