@page "/tasks/{Id:long}/update"

@using Ididit.Data.Models
@using Ididit.Services

@inject TaskService TaskService

<h3>TasksUpdate</h3>

@if (TaskService.EditTask is not null)
{
    <div>
        <label for="titleInput">Title:</label>
        <InputText id="titleInput" @bind-Value="TaskService.EditTask.Title" />

        <button @onclick="TaskService.UpdateTask">Update Task</button>
    </div>

    <CategoryComponent Model="TaskService.EditTask" />

    <PriorityComponent Model="TaskService.EditTask" />

    <div>
        <label for="dateInput">Date:</label>
        <InputDate Type="InputDateType.DateTimeLocal" id="dateInput" @bind-Value="TaskService.EditTask.Date" />
    </div>
}

@code {
    [Parameter]
    public long? Id { get; set; }

    protected override void OnParametersSet()
    {
        TaskService.EditTask = TaskService.Tasks?.FirstOrDefault(t => t.Id == Id);
    }
}