@page "/trash"

@using Ididit.Data.Models
@using Ididit.Services

@inject TrashService TrashService

<PageTitle>Trash</PageTitle>

<h1>Trash</h1>

@if (TrashService.Models is null)
{
    <p>Loading...</p>
}
else
{
    <p>Count: @TrashService.Models.Where(t => t.IsDeleted).Count</p>

    foreach (Model model in TrashService.Models.Where(t => t.IsDeleted))
    {
        <p>@model.Title</p>
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await TrashService.Initialize();
    }
}
