@page "/trash"

@using Ididit.Data.Models
@using Ididit.Services

@inject TrashService TrashService

<PageTitle>Trash</PageTitle>

<div class="col mh-100 overflow-auto">

    <button class="btn btn-primary" @onclick="TrashService.DeleteAll">Empty trash</button>

    @if (TrashService.Models is null)
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (Model model in TrashService.Models)
        {
            <p>@model.Title <button class="btn btn-primary" @onclick="() => TrashService.Restore(model)">Restore</button> <button class="btn btn-primary" @onclick="() => TrashService.Delete(model)"><i class="bi bi-trash"></i></button></p>
        }
    }

</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await TrashService.Initialize();
    }
}
