@page "/trash"

@using Ididit.Data.Models
@using Ididit.Services

@inject TrashService TrashService

<PageTitle>Trash</PageTitle>

<button @onclick="TrashService.DeleteAll">Empty trash</button>

@if (TrashService.Models is null)
{
    <p>Loading...</p>
}
else
{
    foreach (Model model in TrashService.Models)
    {
        <p>@model.Title <button @onclick="() => TrashService.Restore(model)">Restore</button> <button @onclick="() => TrashService.Delete(model)">Delete</button></p>
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await TrashService.Initialize();
    }
}
