@using Ididit.Data.Models
@using Ididit.Services

@inject CategoryService CategoryService

@if (CategoryService.Categories is not null && Model is not null)
{
    <InputSelect @bind-Value="Model.CategoryId">
        <option value="0" disabled selected hidden>Select a category</option>
        @foreach (CategoryModel category in CategoryService.Categories.Values)
        {
            <option value="@category.Id">@category.Title</option>
        }
    </InputSelect>
}

@code {
    [EditorRequired]
    [Parameter]
    public Model? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.Initialize();
    }
}
