@using Ididit.Data.Models
@using Ididit.Services

@inject CategoryService CategoryService

@if (CategoryService.Categories is not null && Model is not null)
{
    <InputSelect TValue="long" Value="Model.CategoryId" ValueExpression="() => Model.CategoryId" ValueChanged="(categoryId) => CategoryService.SetCategory(Model, categoryId)">
        <option value="0" disabled selected hidden>Select a category</option>
        @foreach (CategoryModel category in CategoryService.Categories)
        {
            <option value="@category.Id">@category.Title</option>
        }
    </InputSelect>
}

@code {
    [EditorRequired]
    [Parameter]
    public Model? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.Initialize();
    }
}
