@using Ididit.Data.Models

<h3>ItemsComponent</h3>

<button @onclick=@Add>Add</button>

@if (Items?.Items is not null)
{

    foreach (ItemModel item in Items.Items)
    {
        <p>@item.Title</p>
    }
}

@code {
    [EditorRequired]
    [Parameter]
    public ItemsModel? Items { get; set; }

    async Task Add()
    {
        if (Items is null)
            return;

        if (Items.Items is null)
            Items.Items = new();

        Items.Items.Add(new ItemModel { Title = "Item" });
    }
}
