@using Ididit.Data.Models
@using Ididit.Services

@inject ItemService ItemService

<h3>ItemsComponent</h3>

@if (ItemService.NewItem is not null)
{
    <div>
        <label for="titleInput">Title:</label>
        <InputText id="titleInput" @bind-Value="ItemService.NewItem.Title" />

        <button @onclick=@(() => ItemService.AddItem(Items))>Add</button>
    </div>
}

@if (Items?.Items is not null)
{
    foreach (ItemModel item in Items.Items)
    {
        <div>
            <label><InputCheckbox @bind-Value=@item.IsDone />@item.Title</label>
        </div>
    }
}

@code {
    [EditorRequired]
    [Parameter]
    public ItemsModel? Items { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await ItemService.Initialize(Items);
    }
}
