@using Ididit.Data.Models
@using Ididit.Services

@inject ItemService ItemService

@if (ItemService.NewItem is not null)
{
    <div>
        <InputText @bind-Value="ItemService.NewItem.Title" placeholder="Title" />

        <button @onclick="() => ItemService.AddItem(Items)"><i class="bi bi-plus-square"></i></button>
    </div>
}

@if (Items?.Items is not null)
{
    foreach (ItemModel item in Items.Items)
    {
        <div>
            <InputCheckbox Value="item.IsDone" ValueExpression="() => item.IsDone" ValueChanged="(bool done) => ItemService.SetIsDone(item, done)" />
            @if (item == ItemService.SelectedItem)
            {
                <InputText @ref="inputElement" Value="@item.Title" ValueExpression="() => item.Title" ValueChanged="(string title) => ItemService.UpdateItem(title)" @onfocusout="(args) => ItemService.SelectedItem = null" />
            }
            else
            {
                <span @onclick="() => { ItemService.SelectedItem = item; shouldFocus = true; }">@item.Title</span>
            }
            <button @onclick="() => ItemService.DeleteItem(Items, item)"><i class="bi bi-trash"></i></button>
        </div>
    }
}

@code {
    [EditorRequired]
    [Parameter]
    public ItemsModel? Items { get; set; }

    InputText? inputElement;

    bool shouldFocus;

    protected override async Task OnParametersSetAsync()
    {
        await ItemService.Initialize(Items);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (shouldFocus && inputElement?.Element is not null)
        {
            shouldFocus = false;
            await inputElement.Element.Value.FocusAsync();
        }
    }
}
