@using Ididit.Data.Models
@using Ididit.Services

@inject PriorityService PriorityService

@if (PriorityService.Priorities is not null && Model is not null)
{
    <InputSelect TValue="long" Value="Model.PriorityId" ValueExpression="() => Model.PriorityId" ValueChanged="(priorityId) => PriorityService.SetPriority(Model, priorityId)">
        <option value="0" disabled selected hidden>Select a priority</option>
        @foreach (PriorityModel priority in PriorityService.Priorities)
        {
            <option value="@priority.Id">@priority.Title</option>
        }
    </InputSelect>
}

@code {
    [EditorRequired]
    [Parameter]
    public Model? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await PriorityService.Initialize();
    }
}
