@inherits LayoutComponentBase

@inject INavBarFragment NavBarFragment

<div class="container-fluid d-flex flex-column vh-100 mh-100 overflow-hidden">
    <div class="row flex-shrink-1">
        <div class="col bg-body-secondary d-flex align-items-center">
            <NavLink class="nav-link" href="menu"><i class="bi bi-list"></i> Menu</NavLink>
            <NavLink class="nav-link ms-3" href="/" style="font-family: 'Caveat', cursive; font-size: 1.5em;">ididit!</NavLink>
            <NavLink class="nav-link ms-3" href="habits"><i class="bi bi-card-list"></i> Habits</NavLink>
            <NavLink class="nav-link ms-3" href="notes"><i class="bi bi-card-text"></i> Notes</NavLink>
            <NavLink class="nav-link ms-3" href="tasks"><i class="bi bi-card-checklist"></i> Tasks</NavLink>

            @NavBarFragment.GetNavBarFragment()
        </div>
    </div>

    <div class="row flex-grow-1 overflow-hidden">
        @Body
    </div>

    <div class="row flex-shrink-1">
        <div class="col bg-body-secondary text-center">
            <a href="https://ididit.today/"><i class="bi bi-globe"></i> Web</a>
            <a href="https://github.com/Jinjinov/Ididit.Today"><i class="bi bi-github"></i> GitHub</a>
            © Jinjinov 2024
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
