@inherits LayoutComponentBase

<div>
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-nav">
                    <NavLink class="nav-link" href="menu">Menu</NavLink>
                    <span class="navbar-text">ididit!</span>
                    <NavLink class="nav-link" href="habits"><i class="bi bi-card-list" style="font-size: 2em"></i> Habits</NavLink>
                    <NavLink class="nav-link" href="notes"><i class="bi bi-card-text" style="font-size: 2em"></i> Notes</NavLink>
                    <NavLink class="nav-link" href="tasks"><i class="bi bi-card-checklist" style="font-size: 2em"></i> Tasks</NavLink>
                </div>
            </div>
        </nav>

        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
