@using Ididit.Blazor.Pages
@using Ididit.Data

@inherits LayoutComponentBase

@inject AppData AppData
@inject INavBarFragment NavBarFragment

<div class="container-fluid d-flex flex-column vh-100 mh-100 overflow-hidden">
    <div class="row flex-shrink-1">
        <div class="col bg-body-secondary d-flex align-items-center">

            <button class="nav-link" @onclick="SelectComponent<Menu>"><i class="bi bi-list"></i> Menu</button>

            <NavLink class="nav-link ms-3" href="habits"><i class="bi bi-card-list"></i> Habits</NavLink>
            <NavLink class="nav-link ms-3" href="notes"><i class="bi bi-card-text"></i> Notes</NavLink>
            <NavLink class="nav-link ms-3" href="tasks"><i class="bi bi-card-checklist"></i> Tasks</NavLink>

            <NavLink class="nav-link ms-3" href="about"><i class="bi bi-info-square"></i> About</NavLink>

            @NavBarFragment.GetNavBarFragment()
        </div>
    </div>

    <div class="row flex-grow-1 overflow-hidden">
        <CascadingValue Name="SettingsChanged" Value=@settingsChanged>

            <Menu @bind-DynamicComponentType=dynamicComponentType />

            @if (dynamicComponentType is not null)
            {
                <DynamicComponent Type="dynamicComponentType" Parameters="dynamicComponentParameters.GetValueOrDefault(dynamicComponentType.Name)" />
            }

            @Body

        </CascadingValue>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool settingsChanged;

    private Type? dynamicComponentType;
    private Dictionary<string, Dictionary<string, object>> dynamicComponentParameters = new ();

    protected override async Task OnInitializedAsync()
    {
        await AppData.InitializeSettings();

        dynamicComponentParameters = new Dictionary<string, Dictionary<string, object>>
        {
            {
                "Menu", new Dictionary<string, object>()
                {
                  { "DynamicComponentType", dynamicComponentType },
                  { "DynamicComponentTypeChanged", EventCallback.Factory.Create<Type?>(this, val => dynamicComponentType = val)},
                }
            },
            {
                "Search", new Dictionary<string, object>()
                {
                  { "SettingsChanged", settingsChanged },
                  { "SettingsChangedChanged", EventCallback.Factory.Create<bool>(this, val => settingsChanged = val)},
                }
            },
            {
                "Settings", new Dictionary<string, object>()
                {
                  { "SettingsChanged", settingsChanged },
                  { "SettingsChangedChanged", EventCallback.Factory.Create<bool>(this, val => settingsChanged = val)},
                }
            }
        };

        if (!string.IsNullOrEmpty(AppData.Settings.StartSidebar))
            SelectComponent(AppData.Settings.StartSidebar);
    }

    void SelectComponent<T>()
    {
        dynamicComponentType = typeof(T);
    }

    void SelectComponent(string name)
    {
        dynamicComponentType = Type.GetType($"Ididit.Blazor.Pages.{name}");
    }
}