@inherits LayoutComponentBase

<div>
    <main>
        <div>
            <NavLink class="nav-link" href="habits">Habits</NavLink>
            <NavLink class="nav-link" href="notes">Notes</NavLink>
            <NavLink class="nav-link" href="tasks">Tasks</NavLink>
            <NavLink class="nav-link" href="trash">Trash</NavLink>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
